<!DOCTYPE html>
<html>
{% include "page_header.html" %}
<body class="evening">

    {# Page Header #}
    <div class="row">
        <div class="col-lg-offset-1 col-lg-3" id="user-login-trigger"></div>
        <div class="col-lg-offset-5 col-lg-2" id="theme-switcher"></div>
    </div>

    <div class="row" id="site-header"></div>

    {# Main body and navigation sidebar. #}
    <div class="row">
        <div id="navigation-menu"></div>
        <div class="col-lg-8 ice-floe">
            <div id="markdown-target"></div>
        </div>
    </div>

    <div class="row" id="site-footer"></div>

    {% assets "bundled_js" %}<script type="application/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
</body>
</html>
