{# Page header #}
{# TODO Make logo and favicon configurable. #}
<head>
    <title>Rookeries</title>
    <link rel="icon" type="image/icon" href="static/mr-penguin-amber-favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% assets 'vendor_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% assets 'bundled_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ ASSET_URL }}"/>
    {% endassets %}
</head>
