/*
 * Penguin Evening Theme
 *
 * @author: Dorian Pula (dorian.pula@amber-penguin-software.ca)
 * @company: Amber Penguin Software
 * @note: A soothing grey and amber CSS theme.
 * @version: 0.4.0
 * @license: AGPL v3
 */

@import "penguin-common-theme.less";

/*** Colours. ***/
@body-background-colour: #292929;
@element-background-colour: #777777;

@header-title-colour: @amber-penguin-yellow;
@header-background-colour: #454545;
@subheader-title-colour: #CCCCCC;

@link-highlight-colour: @amber-penguin-yellow;
@link-highlight-colour-text: @body-background-colour;
@link-text-colour: @amber-penguin-yellow;

@footer-text-colour: #CCCCCC;

/**
  Build out themes based on these ideas:
  - http://stackoverflow.com/questions/15366576/less-condition-based-on-css-class-to-set-a-less-variable
  - http://stackoverflow.com/questions/15275829/less-css-change-variable-value-for-theme-colors-depending-on-body-class/
  15279979#15279979
**/
@theme_name: .evening;

/*** General containers ***/
body@{theme_name} .sea-header {
    background-color: @header-background-colour;
}

body@{theme_name} .ice-floe,
body@{theme_name} .ice-menu {
    background-color: @element-background-colour;
}

body@{theme_name} .navigation-bar {
    background-color: @element-background-colour;
}

/*** General elements ***/
body@{theme_name} {
    background-color: @body-background-colour;
}

/*** Footer ***/
body@{theme_name} footer {
    color: @footer-text-colour;
}

/*** Article elements. ***/
body@{theme_name} h1 {
    color: @header-title-colour;
}

body@{theme_name} h2 {
    color: @subheader-title-colour;
}

/*** Navigation ***/
body@{theme_name} a,
body@{theme_name} .hoverable {
    color: @link-text-colour;
    .small_bordered;
}

body@{theme_name} a:hover,
body@{theme_name} .hoverable:hover {
    background-color: @link-highlight-colour;
    color: @link-highlight-colour-text;
    .small_bordered;
}

// Hacks to resolve colour scheme issues in Bootstrap.
body@{theme_name} .nav-pills > .active > a,
body@{theme_name} .nav-pills > .active > a:hover,
body@{theme_name} .nav-pills > .active > a:focus {
    background-color: @link-highlight-colour;
    color: @link-highlight-colour-text;
}

body@{theme_name} .nav > li > a:hover,
body@{theme_name} .nav > li > a:focus {
    text-decoration: none;
    background-color: @link-highlight-colour;
    color: @link-highlight-colour-text;
}